/* General Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF;
    --color-dark-grey: #777777;
    --color-deep-primary: #071B78;
    --color-deep-secondary: #030941;
    --color-deep-secondary2: #000851;
    --color-rating-text: #202244;
}

/* Body */
body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--color-white);
}
section {
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
}
.bg-deep-primary{
    background-color: var(--color-deep-2);
}
/* Welcome Banner */
.welcome-banner {
    background-image: url('../images/welcomeBanner.svg');
    background-size: cover;
    background-position: center;
    height: 727px;
    color: var(--color-white);
}

.welcome-content .section-description {
    color: var(--color-white);
    max-width: 45.875rem; 
    margin: 0 auto; 
    padding: 1rem; 
    text-align: center;
}
/* Search container styles */
.search-container {
    display: flex;
    align-items: center;
    width: 30rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 2rem auto 0 auto;
    background-color: #FFFFFF;
}

/* Search input styles */
.search-input {
    flex: 1;
    height: 100%;
    padding: 0 1rem;
    border: none;
    font-size: 1rem;
    outline: none;
    color: #333;
}

.search-input::placeholder {
    color: #999;
    font-size: 1rem;
}

/* Search button styles */
button.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-deep-secondary);
    color: #FFFFFF;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 0 8px 8px 0; 
    margin: 0.3rem 10px 0.3rem 0; 
    height: 80%;
}


.search-button:hover {
    background-color: var(--color-deep-primary);
}

/* Icon and text within the button */
.search-icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

.search-text {
    font-size: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .search-container {
        width: 90%;
        height: 3rem;
    }

    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: 1rem;
    }
}

/* About BIOM Section */
.about-biom-banner {
    background-image: url('../images/Frame 2608761.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    color: var(--color-dark-grey);
}

.biom-platform {
    background-image: url('../images/biomPlatfrom.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    color: var(--color-dark-grey);
}


.bg-deep-primary{
    background-color: var(--color-deep-primary);
}
.course-card-width {
    width: 18rem;
}
.course-card-title{
    font-size: 20px;
}
.card-footer {
	padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
	color: var(--bs-card-cap-color);
	background-color: transparent;
	border-top: none;
}

.btn-buy-now {
    background-color: var(--color-deep-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-deep-secondary);
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.50rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-buy-now:hover {
    background-color: var(--color-deep-primary);
    color: var(--color-white);
    border: 1px solid var(--color-deep-secondary);
}

.btn-see-all {
    background-color: var(--color-white);
    color: var(--color-deep-secondary);
    border: 1px solid var(--color-deep-secondary);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.50rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-see-all:hover {
    background-color: var(--color-deep-primary);
    color: var(--color-white);
    border: 1px solid var(--color-deep-secondary);
}


.old-price {
    font-size: 0.9rem; color: gray;
    text-decoration: line-through;
    margin-right: 1rem;
}   
.card-rating-text {
    color: var(--color-rating-text)
}

#haddithGallery {
    padding: 50px 0;
    background-color: var( --color-white);
    
}


.haddith-gallery {
    background-image: url('../images/হাদিস.svg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    /* height: 300px; */
}

#haddithGallery .owl-carousel .item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#haddithGallery .owl-carousel .item h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#haddithGallery .owl-carousel .item p {
    font-size: 1.125rem;
    color: #6c757d;
}

#haddithGallery .section-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: #343a40;
}

.haddith-gallery .item{
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    margin-bottom: 10px;
}