/* General Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #FFFFFF;
}

/* Welcome Banner */
.welcome-banner {
    background-image: url('../images/welcomeBanner.svg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    color: #FFFFFF;
}

.welcome-content .section-description {
    color: #FFFFFF;
}

/* About BIOM Section */
.about-biom-banner {
    background-image: url('../images/Frame 2608761.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    color: #777777;
}
